/* HabitCreation.css */
.habit-creation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90vh;
  padding: 20px;
}

.habit-creation-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.name-section,
.description-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 95%;
  margin-right: 10px;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
}

.textarea {
  resize: none; /* Add this property to prevent resizing */
}

.horizontal-section {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Occupy the full width of the parent */
  margin-bottom: 10px; /* Add margin-bottom for spacing */
}

.horizontal-section > * {
  margin-right: 10px; /* Adjust the padding as needed */
}

.section-header-title {
  font-size: medium;
  font-weight: 600;
}
